body{
    background-color: black;
    height: 800px;
}
.header{
    width:calc(100%-70px);
    position: relative;
    padding: 35px;
}
.logo{
    width:75px;
    height: 37.5px;
    background-size:cover;
    background-image: url("../img/download.png");
}
nav {
    width: calc(100% - 50px);
    padding: 25px;
    text-align: center;
    position: fixed;
    z-index: 9;
}
input[type="checkbox"]  {
    display: none;
}

input + .burger + div {
    display: none;
}

input:checked + .burger + div {
    display:block;
}
.burger {
    position: absolute;
    right: 0;
    top: 0px;
    width: 40px;
    height: 40px;
    margin: 20px 25px 0px 0px;
    background-size: cover;
    background-image: url(../img/menu.png);
    
    cursor: pointer;
    display: block;
}
.menu{
    color:white;
    font-family: Tahoma;
    font-size: 24px;
    position: absolute;
    right:60px;
    top:30px;
    background-color: rgb(41, 38, 38);
    border-radius: 25px;
}
.menu-item{
    font-size: 20px;
    margin: 10px 30px 10px 30px;
}
.album{
    margin: 50px;
    width: 300px;
    background-color: grey; 
    border-radius: 25px;  
    margin-top:50px;
    margin-bottom: 50px;
    transition-property: unset;
    transition-duration:  1s;
    display: inline-block;
    flex: 1 0 24%;
    box-shadow: 0px 0px 5px 5px #a1a1a1;
}
.album:hover{
    box-shadow: 0px 0px 60px grey;
    transform: scale(1.05);
}
.apic{
    height: 300px;
    display: block;
    transition: transform 400ms ease-out;
    background-size: cover;
    border-radius: 25px 25px 0px 0px;
}
.ainfo{
    background-color: grey;  
    font-family: Tahoma;
    font-size: 28px;
    border-radius: 0px 0px 25px 25px;
    padding:25px;
}
.album-title{
    font-size: 20px;
    color:white;
}
.album-year{
    font-size:16px;
    color: white;
}
a{
    text-decoration: none;
}
.alpic{
    margin:50px;
    height:600px;
    width:600px;
    background-size: cover;
    border-radius: 25px;
}
h1{
    color:white;
    font-family: Tahoma;
}
h2{
    color:white;
    font-family: Tahoma;
}
.descr{
    color:white;
    font-family: Tahoma;
    font-size: 20px;
}
.al{
    height: 600px;
}
.tracks{
    color:white;
    font-family: Tahoma;
    font-size: 20px;
}
.alabout{
    position: relative;
    top:-650px;
    left:700px;
    width: 50%;
    height:800px;
}
.albumgallery{
    display: flex;
	flex-wrap: wrap;
}